.model-content {
    /*background-color: #fefefe;*/
    /* margin: 5px auto;*/
    border: 1px solid #888;
    width: 100%;
    border-radius: 10px;
}

.close {
    position: absolute;
    right: 15px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

    .close:hover, .close:focus {
        color: red;
        cursor: pointer;
    }

.animate {
    -webkit-animation: animatezoom o.6s;
    animation: animatezoom 0.6s;
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

.profile-button {
    background: rgb(99, 39, 120);
    box-shadow: none;
    border: none
}

    .profile-button:hover {
        background: #682773
    }

    .profile-button:focus {
        background: #682773;
        box-shadow: none
    }

    .profile-button:active {
        background: #682773;
        box-shadow: none
    }

.back:hover {
    color: #682773;
    cursor: pointer
}

.labels {
    font-size: 11px
}

.add-experience:hover {
    background: #BA68C8;
    color: #fff;
    cursor: pointer;
    border: solid 1px #BA68C8
}
