@page "/about"

<div class="container" style="padding-top:20px;">
    <div class="row">
        <h4>About Us</h4>
        <p style="text-align:justify">
            ယနေ့အခါ ကွန်ပျူတာနည်းပညာနှင့် အင်တာနက်စနစ်များစွာဖွံ့ဖြိုး တိုးတက်လာသည့်အလျောက် အင်တာနက်ကိုအသုံးပြုသော ဝန်ဆောင်မှုများ ကျယ်ကျယ်ပြန့်ပြန့် အသုံးပြုလာလျက်ရှိပါသည်။ ၂၀၁၉ ခုနှစ်တွင်ဖြစ်ပေါ် ခဲ့သော COVID-19 ကပ်ရောဂါကြောင့် အင်တာနက်အသုံးပြုသော ဝန်ဆောင်မှု စနစ်များ အရှိန်အဟုန်ဖြင့် တိုးတက်လာသကဲ့သို့ အသုံးပြုသူလည်း အလွန်များပြားလာခဲ့ပါသည်။ Online ဝန်ဆောင်မှုများတွင် Online Business၊ Online Teaching များ၊  Online Metting များ၊ Online Conference များအပြင် ယခုအခါတွင်ဆေးပညာနယ်ပယ်၌ Tele-medicine ဟူခေါ်သော Online ကျန်းမာရေးစောင့်ရှောက်မှု စနစ်အား နိုင်ငံတကာတွင် စတင်အသုံးပြုနေပြီဖြစ်ပါသည်။
            ယခုသုတေသနပြုလုပ်နေသော PACS စနစ်သာမက AI  Medical Diagnosis System၊HIS(Hospital Information System)၊ LIS(laboratory Information System) စနစ်များပါ ပါဝင်မည်ဖြစ်ပါသည်။ယခုတည်ဆောက်မှုအောင်မြင်ပြီးစီးပါက မြန်မာနိုင်ငံတွင် ပထမဉီးဆုံး ကိုယ်ပိုင်တည်ဆောက်နိုင်သည့် AI-PACS စနစ်တစ်ခုဖြစ်လာမည်ဖြစ်ပြီး ကုန်ကျစရိတ်လည်း များစွာသက်သာစေမည်ဖြစ်ပါသည်။
        </p>
    </div>
    <div class="row py-2 mt-1 align-items-center">

        <div class="col-md-6 pr-lg-5 mb-5 mb-md-0">
            <img src="css/img/Login2.png" alt="" class="img-fluid mb-3 d-none d-md-block" />
            @* <img src="https://bootstrapious.com/i/snippets/sn-registeration/illustration.svg" alt="" class="img-fluid mb-3 d-none d-md-block">*@
           
        </div>
        <div class="col-md-7 col-lg-6 ml-auto">
          
            <p style="text-align:justify">တပ်မတော်သိပ္ပံနှင့်နည်းပညာသုတေသနဌာနနှင့် တပ်မတော်ဆေးတပ်ဖွဲ့တို့ပူးပေါင်း၍ ဖွဲ့စည်းခဲ့ပါသည်။ တပ်မတော်သိပ္ပံနှင့်နည်းပညာသုတေသနဌာနမှ အောက်ဖော်ပြပါအရာရှိများဖြင့်ဖွဲ့စည်းထားပါသည်-</p>
            <ul>
                <li>ကြည်း ၃၁၆၅၉ ဒုတိယဗိုလ်မှူးကြီးတင်ဘုန်းကျော်</li>
                <li>ကြည်း ၄၃၄၉၀ ဗိုလ်မှူးရန်နိုင်စိုး</li>              
                <li>ကြည်း ၅၂၃၉၆ ဗိုလ်ကြီးကျော်မင်းသူ</li>
                <li>ကြည်း ၅၄၈၄၄ ဗိုလ်ကြီးဖြိုးပိုင်ကို</li>
            </ul>
            <p> တပ်မတော်ဆေးတပ်ဖွဲ့မှ အောက်ဖော်ပြပါအရာရှိကြီးများဖြင့်ဖွဲ့စည်းထား ပါသည်-</p>
            <ul>
                <li> ကြည်း ၂၁၄၁၉   ဗိုလ်မှူးချုပ်ကျော်ဇေယျ</li>
                <li> ကြည်း ၃၃၆၁၂ ဒုတိယဗိုလ်မှူးကြီးအောင်ထက်</li>
                <li> ကြည်း ၃၄၈၄၈ ဒုတိယဗိုလ်မှူးကြီးထက်အောင် <a  href="#" class="text-primary ml-2">Read More</a> </li>
            </ul>

        </div>

    </div>
</div>