@page "/accountsucces"

<div class="container">
    <div class="row py-5 mt-4 align-items-center">

        <div class="col-md-6 pr-lg-5 mb-5 mb-md-0">
            <img src="css/img/Login2.png" alt="" class="img-fluid mb-3 d-none d-md-block" />
            
            
            <p class="font-italic text-muted mb-0">Medical Record System  </p>
            <p class="font-italic text-muted">
                Create By <a href="#" class="text-muted">
                    @*<u>Yan Naing Soe</u>*@
                </a>
            </p>
        </div>

        <!-- Registeration Form -->
        <div class="col-md-7 col-lg-6 ml-auto ">
            <h1>Account Success</h1>
            <div class="row alret alert-info rounded">

                <p style="text-align: justify; padding: 20px">
                    မကြာမှီ Account ကို စစ်ဆေးပြီး  Register ပြုလုပ်ထားသော Email ကို ခွင့်ပြုကြောင်း ပြန်ပေးပါမည်။

                    <br /> <i class="oi oi-phone text-danger p-lg-3"><span>ဆက်သွယ်ရန်ဖုန်း ၀၉၆၆၅၃၅၀၆၅၂ </span></i>
                    <div class="text-center w-100">
                        <p class="text-muted font-weight-bold">Already Registered? <a href="login" class="text-primary ml-2">Sign In</a></p>
                    </div>
                </p>
            </div>
        </div>
    </div>
</div>



@code {

}
