@page "/help"
<div class="container">
    <div class="row py-5 mt-4 align-items-center">

        <div class="col-md-6 pr-lg-5 mb-5 mb-md-0">
            <img src="css/img/Login2.png" alt="" class="img-fluid mb-3 d-none d-md-block" />
            @* <img src="https://bootstrapious.com/i/snippets/sn-registeration/illustration.svg" alt="" class="img-fluid mb-3 d-none d-md-block">*@

        </div>
        <div class="col-md-7 col-lg-6 ml-auto">
            <h1>Help</h1>
            <div class="row alret alert-info rounded">

                <p style="text-align: justify; padding: 20px">
                    <i class="oi oi-phone text-danger p-lg-3"><span>ဆက်သွယ်ရန် Email: boyan.243@gmail.com </span></i>
                    <br /> <i class="oi oi-phone text-danger p-lg-3"><span>ဆက်သွယ်ရန်ဖုန်း : ၀၉၆၆၅၃၅၀၆၅၂ </span></i>

                </p>
            </div>
        </div>

    </div>
</div>
@code {

}
